@media screen and (min-width:769px) {
  header {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper img {
    float: left;
    margin: 60px 0 45px 0;
  }
  .main-image img {
    max-width: 100%;
  }
  .side {
    float: right;
  }
  .top-wrapper {
    clear: both;
  }
  .title {
    margin-top: 20px;
  }
  .tel-num {
    padding: 25px 0 15px 0;
    background-position: 20px 20px;
    text-align: right;
  }
  .nav1 {
    width: calc(20% - 2px);
  }
  main {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
  }
  .nav {
    float: left;
    width: 28%;
  }
  .right {
    float: right;
    width: 70%;
  }
  .main-image {
    margin: 20px 0 10px 0;
  }
  .news {
    margin: 0 0 40px 0;
  }
  .container {
    width: 100%;
    margin: 0 auto;

  }
  .sub-nav1 {
    margin: 20px 0 20px 0;
  }
  .sub-nav2 {
    margin: 0;
  }
  footer {
    clear: both;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;

  }
  .footer-nav {
    width: 920px;
    margin: 0;
  }
  .footer-mid {
    float: right;
    height: 50px;
    line-height: 50px;
  }
  .footer-mid p {
    float: left;
    padding-right: 5px;
  }
  .dental {
    margin-top: 0;
  }
  .footer-under {
    clear: both;
    width: 920px;
  }
}
