html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: rgb(246,246,246);
    font-family: Verdana, Arial, Helvetica, meirio, メイリオ, "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif;
}

li {
  list-style: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
};

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
  max-width: 768px;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}

main {
  max-width: 768px;
  width: 100%;
}

.header-wrapper img {
  width: 250px;
  margin: 10px 0;
}

.title {
  font-size: 10px;
}

.tel-num {
  font-size: 20px;
  padding: 10px 0;
  width: 200px;
  background-image: url(image/bgTel.png);
  background-repeat: no-repeat;
  background-position: 0 7px;
  margin: 0 auto;
}
.time {
  font-size: 10px;
  border: 1px solid rgb(214,214,214);
  display: inline-block;
  padding: 8px 20px;
}

span {
  color: red;
}

.nav1 a {
  text-decoration: none;
  color: rgb(255,248,237);
  font-size: 12px;
  display: block;
  height: 70px;
}

.nav1 {
  background: linear-gradient(to top, rgb(111,200,198), rgb(154,226,224));
  border: 1px solid rgb(108,198,196);
  text-align: center;
  width: calc(50% - 2px);
  border-radius: 5px;
}

.nav1:hover {
  background: linear-gradient(to bottom, rgb(111,200,198), rgb(154,226,224));
}
.nav1 a:hover {
  color: rgb(193,255,253);
}
.nav3 {
  padding-top: 30px;
}
.nav2 {
  font-size: 8px;
}

.top-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-image img{
  width: 100%;
  max-width: 640px;
}

.main-image {
  margin: 20px 10px 10px 10px;
}

.news {
  background-color: rgb(255,255,255);
  margin: 0 10px 40px 10px;
  padding:  35px 20px;
  border-radius: 0 0 5px 5px;
}

.news h1 {
  font-size: 20px;
  border-bottom: 2px solid rgb(108,198,196);
  padding-bottom:15px;
  margin-bottom: 30px;
}

.news-text h2 {
  font-size: 14px;
  margin: 15px 0 25px 0;
  color: #515151;
}

.news-text p {
  font-size: 12px;
  margin-left: 12px;
  color: #515151;
}

.news-text {
  border-bottom:2px dashed rgb(246,246,246);
  padding-bottom: 15px;
}

.sub-nav1 {
  margin: 0 10px 20px 10px;
  background-color: rgb(255,255,255);

}

.sub-nav1 h3{
  background: linear-gradient(to top, rgb(111,200,198), rgb(154,226,224));
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

.sub-nav1 li a {
  text-decoration: none;
  color: #515151;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  margin-left: 15px;
}

.sub-nav1 li {
  background-image: url(image/bgListIcon01.png);
  background-repeat: no-repeat;
  background-position: 0 12px;
  border-bottom: 1px solid rgb(108,198,196);
  margin: 0 10px;
}

.sub-nav1 ul {
  border: 1px solid rgb(108,198,196);
  padding-bottom: 20px;
}

.sub-nav1 li a:hover {
  color: #6cc6c4;
}

.sub-nav2 {
  margin: 0 10px 20px 10px;
  background-color: rgb(255,255,255);

}

.sub-nav2 h3{
  background: linear-gradient(to top, rgb(111,200,198), rgb(154,226,224));
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

.sub-nav2 li a {
  text-decoration: none;
  color: #515151;
  display: block;
  padding: 10px 0;
  font-size: 14px;
  margin-left: 15px;
}

.sub-nav2 li a:hover {
  color: #aec24c;
}

.sub-nav2 li {
  background-image: url(image/bgListIcon01.png);
  background-repeat: no-repeat;
  background-position: 0 12px;
  border-bottom: 1px solid rgb(108,198,196);
  margin: 0 10px;
}

.sub-nav2 ul {
  border: 1px solid rgb(108,198,196);
  padding-bottom: 20px;
}

.footer-nav li a{
  text-decoration: none;
  color: rgb(255,255,255);
  margin-left: 30px;
  font-size: 10px;
}

.footer-nav li a:hover {
  text-decoration: underline;
}

.footer-nav {
  background-color: rgb(108,198,196);
  margin: 0 10px;
  border-radius: 5px;
}
.footer-nav ul {
  margin: 0 10px;
}

.footer-nav ul li {
  height: 30px;
  line-height: 30px;
  display: inline;
  background-image: url(image/bgFooterIcon.png);
  background-repeat: no-repeat;
  background-position: 5px 4px;
}

.footer-mid {
  text-align: right;

  margin-right: 10px;
}

.dental {
  margin-top: 15px;
  font-weight: 700;
}

.footer-mid p {
  padding-bottom: 10px;
  font-size: 12px;
}

.footer-under {
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  border-top: 1px solid rgb(108,198,196);
}

footer {
  width: 100%;
  max-width: 768px;
}
